@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Quicksand');

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'IBM Plex Mono', monospace;
  width: 100vw;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav-opener {
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  font-size: 3vw;
  z-index: 2;
  transition: transform 0.5s ease-in-out, color 1.5s ease, opacity 1s ease;
  cursor: pointer;
}
.nav-opener:hover {
  opacity: 0.7;
}
nav {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2px 10px; */
  margin: 0;
  text-align: center;
  background: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  user-select: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 1;
}
.nav-name {
  margin: 90px 0;
  font-size: 2.5vw;
}
.nav-link {
  margin-bottom: 10px;
  font-size: 2.2vw;
}
.nav-link:hover {
  color: #6ba6f9;
}

.nav-username {
  text-transform: uppercase;
  font-size: 2.5vw;
  position: absolute;
  bottom: 30px;
}
.nav-username a:hover {
  color: #6ba6f9;
}
.info {
  max-width: 40%;
  text-align: center;
}
.notice {
  background: lightskyblue;
  padding: 8px;
  margin: 0;
}
.alert {
  background: lightcoral;
  padding: 8px;
  margin: 0;
}
.fa-shield-alt {
  color: lightgreen;
}
.content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* TEMP FIX vv */
  overflow: hidden;
}
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.link-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 2.3vh;
}
.link-card {
  height: 100%;
  margin: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}
.link-card img {
  height: 10vw;
  width: 10vw;
  border-radius: 20px;
  overflow: hidden;
  transition: filter 0.5s ease-in-out;
}
.link-card img:hover {
  filter: grayscale(100%);
}
.link-card h1 {
  margin: 0;
  padding: 0;
}
.link-card p {
  margin: 2px 0px;
  padding: 0;
}
.link-button {
  padding: 8px 20px;
  background: #333;
  border-radius: 10px;
  display: block;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-size: 2.5vh;
}

.link-button:hover {
  transform: rotateX(30deg);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.4);
}
.user-profile-top {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
  max-width: 70%;
}
.user-profile-heading {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 3vw;
  color: #333;
}
.new-link-button {
  padding: 3px 10px;
  background: lightgreen;
  min-width: 100px;
  text-align: center;
  font-size: 2vw;
  position: fixed;
  bottom: 0;
  right: 0;
}

.iframe-holder {
  width: 50%;
  height: 50vh;
  display: block;
}
.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
input,
textarea,
select {
  background: #fff;
  border: 1px solid #b2b2b0;
  border-radius: 6px;
  min-width: 300px;
  min-height: 30px;
  transition: border 0.5s ease-in-out;
}
textarea {
  min-height: 50px;
}
input[type='text']:focus,
textarea:focus,
select:focus {
  outline: 0px;
  box-shadow: 0px 0px 3px 0px #1d1d11;
  border: 1px solid #000;
}

input[type='submit'] {
  margin: 15px 0;
}
input[type='submit']:hover {
  box-shadow: 0px 0px 5px 0px #b2b2b0;
  cursor: pointer;
}

.form-page-header {
  margin: 8px 0;
  padding: 0;
}
.form-page-req-info {
  margin: 4px 0 8px 0;
  padding: 0;
}
.text-center {
  text-align: center;
}
.link-detail-buttons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  min-height: 40px;
  position: relative;
  padding-bottom: 30px;
}
.link-detail-img {
  height: 20vw;
  width: 20vw;
  border-radius: 20px;
}
.confirm-delete-form {
  position: absolute;
  right: 3px;
  bottom: 0;
}

/* START CHECKBOX */
/* http://doodlenerd.com/html-control/css-checkbox-generator */
.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #000000;
}
.control-radio .control_indicator {
  border-radius: undefined%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #000000;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #0e6647;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 9px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}
.link-delete-button {
  background: #f44242;
}
.link-disabled {
  background: #8e2525;
  pointer-events: none;
}

/* END CHECKBOX */

/* START HOME PAGE */
.home-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-page section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.home-page section p {
  text-align: center;
  width: 75%;
}
.home-page section ol {
  width: 60%;
}
.home-page section ol p {
  width: 100%;
}
.home-page section li {
  margin-bottom: 20px;
}
.big {
  font-size: 20px;
}

.home-top {
  height: 100vh;
  position: relative;
}
.home-heading {
  color: #000;
  font-size: 8vw;
  margin: 4px 0;
  padding: 0;
}
.red-text {
  color: #f44242;
}
.svg-hashtag-container {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -2;
}
.animated-svg-text {
  stroke-dashoffset: 3000px;
  stroke-dasharray: 3000;
  animation: dash-draw 5s infinite linear forwards;
  animation-direction: alternate;
  padding: 0;
  margin: 0;
}

.svg-arrow-container {
  transform: rotate(-90deg);
  width: 10vw;
  height: 10vh;
  position: absolute;
  bottom: 40px;
  transition: transform 1s ease-in-out;
  animation: bounce-arrow 1s 8 alternate ease-in-out;
}

.svg-arrow-container:hover {
  transform: rotate(-90deg) translateX(-30px);
}
.follow-us-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-icon-link {
  color: #333;
  font-size: 45px;
  margin: 10px;
}
.social-icon-link:hover {
  color: #6ba6f9;
}

@keyframes dash-draw {
  0% {
    stroke-dashoffset: 3000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes bounce-arrow {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg) translateX(-30px);
  }
}
/* END HOME PAGE */

@media only screen and (max-width: 1000px) {
  nav {
    width: 65%;
  }
  .nav-name {
    font-size: 7vw;
  }
  .nav-link {
    font-size: 5vw;
  }
  .nav-username {
    font-size: 5vw;
  }
  .iframe-holder {
    width: 65%;
  }
  .link-card img {
    height: 30vw;
    width: 30vw;
  }
}

@media only screen and (max-width: 600px) {
  .nav-opener {
    font-size: 5vw;
  }
  nav {
    width: 100%;
    overflow: hidden;
    background: rgba(51, 51, 51, 0.99);
  }
  .nav-name {
    font-size: 8vw;
  }
  .nav-link {
    font-size: 6vw;
  }
  .nav-username {
    font-size: 6vw;
  }
  .iframe-holder {
    width: 80%;
  }
  .social-icon-link {
    font-size: 35px;
  }
}
