/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Quicksand');

body {
  margin: 0;
  padding: 0;
  background: lightslategrey;
  font-family: 'IBM Plex Mono', monospace;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav-opener {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  font-size: 3vw;
  z-index: 2;
  transition: transform 0.6s ease;
}
nav {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 10px;
  margin: 0;
  text-align: center;
  background: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  user-select: none;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.nav-name {
  margin: 90px 0;
  font-size: 2.5vw;
}
.nav-user-auth {
  margin-bottom: 10px;
  font-size: 2vw;
}
.username {
  text-transform: uppercase;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
  max-width: 40%;
  text-align: center;
}
.notice {
  background: lightskyblue;
  padding: 8px;
  margin: 0;
}
.alert {
  background: lightcoral;
  padding: 8px;
  margin: 0;
}
.fa-shield-alt {
  color: lightgreen;
}
.link-container {
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
}
.link-card {
  height: 50vh;
  width: 40vh;
  margin: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}
.link-card img {
  height: 70%;
  width: 85%;
  border-radius: 20px;
  overflow: hidden;
}
.link-card h1 {
  margin: 0;
  padding: 0;
}
.link-card p {
  margin: 8px 0px;
  padding: 0;
}
.link-button {
  padding: 4px;
  background: lightskyblue;
  border: 1px solid white;
  border-radius: 5px;
}
.user-profile-heading {
  text-align: center;
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 8vw;
}
.new-link-button {
  padding: 3px 10px;
  background: lightgreen;
  min-width: 100px;
  text-align: center;
  font-size: 2vw;
}
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  nav {
    width: 100%;
    background: rgba(51, 51, 51, 0.99);
  }
  .nav-name {
    font-size: 5vw;
  }
  .nav-user-auth {
    font-size: 4vw;
  }
}
